/* CSS Document */
body {
margin:0 auto;
padding: 5px;
font-size: 70%;
color: #333;
font-family:Verdana, Arial, Helvetica, sans-serif;
background: #ddd;
border: 1px #ccc solid;

}

p {
margin:0;
padding: 0;
}

input.bigshinybutton
{
border: 3px double #999999;
border-top-color: #CCCCCC;
border-left-color: #CCCCCC;
padding: 0.25em;
background-color: #FFFFFF;
background-image: url("images/background_form_element.gif");
background-repeat: repeat-x;
color: #333333;
font-size: 12px;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-weight:bold;
}